.swiper {
  border: 1px solid black;
  width: auto;
  height: auto;
}
.swiper-slide {
  border: 1px solid black;
  height: auto;
  width: auto;
  display: inline;
}
.swiper-wrapper {
  border: 1px solid black;
  width: auto;
  height: auto;
}
